# These will be generated
public/bundle.*.js
public/index.*.css
public/index.html
public/sw.js
precache-manifest.*

node_modules
*.log
package-lock.json
.DS_Store
.firebase

# font face trimming tmp files
glyphs
